#dialog-form label {
	display: block;
	margin-bottom: 5px;
	color: #FFF;
}

tr.task_made {
	text-decoration: line-through;
}

.calendar {
	font-family: Arial; font-size: 12px;
}
table.calendar {
	border-collapse: collapse; margin: 50px 0;
}
.calendar .days td {
	width: 80px; height: 80px; padding: 4px;
	border: 1px solid #999;
	vertical-align: top;
	background-color: #DEF;
}
.calendar .days td:hover {
	background-color: #FFF;
}
.calendar .highlight {
	font-weight: bold; color: #00F;
}

.pull-right {
	margin-top: -40px;
}
.page-header h1 {
	padding-top: 30px;
	width: 60%;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 24px;
}

.modal-submit {
	margin: 0 !important;
	float: none !important;
}
